<div class="form-inline">
<div class="entry form-group">
    <div class="input-group col-sm-9 left">
	<span class="input-group-addon"
          title="<%= syncAttributes.provider.providerName %>">
		<a class="open-location<%- syncLocationLink ? '' : ' hide' %>"
           target="_blank" href="<%- syncLocationLink %>">
            <i class="icon-provider-<%= syncAttributes.provider.providerId %>"></i></a>
	</span> <input class="form-control" type="text" value="<%= syncDesc %>" disabled/>
    </div>
    <div class="text-right col-sm-3 right">
        <a class="btn btn-primary btn-sm open-location<%- syncLocationLink ? '' : ' hide' %>" title="Open in <%= syncAttributes.provider.providerName %>" 
           target="_blank" href="<%- syncLocationLink %>"><i class="icon-link-ext-alt"></i></a>
        <a class="btn btn-danger btn-sm remove-button" title="Delete from <%= syncAttributes.provider.providerName %>" 
           data-sync-index="<%= syncAttributes.syncIndex %>" style="margin-left: 10px;"><i class="icon-trash"></i></a>
    </div>
</div>
</div>