<div class="form-inline">
    <div class="entry form-group">
    <div class="input-group col-sm-8 col-md-offset-1 left">
	<span class="input-group-addon" title="<%= publishAttributes.provider.providerName %>">
		<a class="btn btn-primary btn-sm open-location<%- publishLocationLink ? '' : ' hide' %>"
           target="_blank" href="<%- publishLocationLink %>"><i class="icon-provider-<%= publishAttributes.provider.providerId %>"></i></a>
	</span> <input class="form-control" type="text"
                   value="<%= publishDesc %>" disabled/>
    </div>
    <div class="text-right col-sm-2 left">
        <a class="btn btn-primary btn-sm open-location<%- publishLocationLink ? '' : ' hide' %>"
           target="_blank" href="<%- publishLocationLink %>"><i class="icon-link-ext-alt"></i></a>
        <a class="btn btn-danger btn-sm remove-button"
           data-publish-index="<%= publishAttributes.publishIndex %>" style="margin-left: 10px;"><i class="icon-trash"></i></a>
    </div>
</div>
</div>
     