<!DOCTYPE html>
<html<%- cache ? ' manifest="cache.manifest"' : '' %>>

    <head>
        <title>WriteOn Pad</title>
        <link rel="canonical" href="http://writeon.io">
        <link rel="icon" href="res-min/img/favicon.ico" type="image/x-icon">
        <link rel="icon" sizes="192x192" href="res-min/img/logo-highres.png">
        <link rel="shortcut icon" href="res-min/img/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" sizes="192x192" href="res-min/img/logo-highres.png">
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="res-min/img/logo-ipad-retina.png">
        <meta charset="UTF-8">
		<meta name="description" content="The world's finest writing experience.">
        <meta name="author" content="Beard & Fedora">
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <script type="text/javascript">
            window.baseDir="res";if(!/(\?|&)debug($|&)/.test(location.search)){window.baseDir+="-min"}window.require={baseUrl:window.baseDir,deps:["main"]}
        </script>
        <script src="res-min/require.js"></script>
    </head>
    <body class="pad"></body>
</html>