<!DOCTYPE html>
<html>

    <head>
        <title>WriteOn || Oopsie Daisy 500x</title>
        <link rel="canonical" href="http://writeon.io/">
        <link rel="icon" href="/res-min/img/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="/res-min/img/favicon.ico" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/res-min/themes/gray.css">
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script>UserVoice=window.UserVoice||[];(function(){var e=document.createElement("script");e.type="text/javascript";e.async=true;e.src="//widget.uservoice.com/9ETh8LB2ADPn5Iwpgytg.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();UserVoice.push(["set",{accent_color:"#e23a39",trigger_color:"white",trigger_background_color:"#e23a39"}]);UserVoice.push(['addTrigger', '#contact_us', ,{mode:"contact"}]);UserVoice.push(["identify",{}]);UserVoice.push(["addTrigger",{mode:"contact",trigger_position:"bottom-right"}]);UserVoice.push(["autoprompt",{}])</script>
    </head>
    <body class="text-center">
        <h2 class="text-center" style="margin-top:20px;">Ouch! I can't seem to be able to do that. Try again?</h2>
        <p>
            <a href="/" title="Write On!"><img src="/res-min/img/helliejellie-4.png" width="320" /></a>
        </p>
        <p><a class="btn btn-primary file-title-navbar" href="login" title="Login"><i class="icon-login text-red"></i> 
            Perhaps you want to let us know about this</a></p>
        <p><a class="text-red" href="https://writeon.io" title="Home is where my jellie is"> ♥ </a></p>
        

    </body>

</html>
