<!DOCTYPE html>
<html>

    <head>
        <title>WriteOn || Oopsie Daisy</title>
        <link rel="canonical" href="http://writeon.io/">
        <link rel="icon" href="/res-min/img/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="/res-min/img/favicon.ico" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/res-min/themes/gray.css">
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    </head>
    <body class="text-center">
        <h2 class="text-center" style="margin-top:20px;">I can't seem to find that. Try again?</h2>
        <p>
            <a href="/" title="WriteOn! But I can't find that."><img src="/res-min/img/helliejellie-b.png" width="320" /></a>
        </p>
        <p><a class="btn btn-primary file-title-navbar" href="login" title="Login"><i class="icon-login text-blue"></i> Perhaps you want to Login</a></p>
        <p class="text-blue"> ♥ <br />
        <a class="text-center" href="/" title="Home is where my jellie is"> <img src="/res-min/img/writeon-logo.png" width="16" /> </a></p>
        

    </body>

</html>
