<!DOCTYPE html>
<html<%- cache ? ' manifest="cache.manifest"' : '' %>>

    <head>
        <title>WriteOn Paper</title>
        <link rel="canonical" href="https://writeon.io/viewer">
        <link rel="icon" href="res-min/img/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="res-min/img/favicon.ico" type="image/x-icon">
        <meta name="description" content="Write without distraction // Publish without effort.">
        <meta name="author" content="Beard & Fedora">
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
        <script>
            window.baseDir="res";if(!/(\?|&)debug($|&)/.test(location.search)){window.baseDir+="-min"}window.require={baseUrl:window.baseDir,deps:["main"]}
        </script>
        <script src="res-min/require.js"></script>
    </head>
    <body class="viewer paper"></body>
</html>