        <tr>
          <td scope="row">
			  <a class="btn btn-link btn-sm open-location<%- publishLocationLink ? '' : ' hide' %>" title="Open in <%= publishAttributes.provider.providerName %>" 
           		target="_blank" href="<%- publishLocationLink %>">
				 <i class="icon-provider-<%= publishAttributes.provider.providerId %>"></i> <%= publishAttributes.provider.providerName %></a>
		  </td>          
          <td><%= publishAttributes.blogID %> <%= publishAttributes.filename %> <%= publishAttributes.repository + ' : '%><%= publishAttributes.branch %> <%= publishAttributes.blogHostname %> <%= publishAttributes.siteID %></td>
		  <td><%= publishAttributes.format %></td>
          <td>
		<!--a class="btn btn-primary btn-sm open-location<%- publishLocationLink ? '' : ' hide' %>" title="Open in <%= publishAttributes.provider.providerName %>" 
           target="_blank" href="<%- publishLocationLink %>"><i class="icon-link-ext-alt"></i></a-->
        <a class="btn btn-link btn-sm remove-button" title="Delete <%= publishAttributes.title %> on <%= publishAttributes.provider.providerName %>" 
           data-publish-index="<%= publishAttributes.publishIndex %>"
		   data-toggle="modal" data-target="#confirmPubDelete">
			<i class="icon-trash text-danger"></i>
		</a>
			</td>
        </tr>