<div class="modal-dialog">
	<div class="modal-content">

		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">&times;</button>
			<h2 class="modal-title">Save on <%= providerName %></h2>
		</div>
		<div class="modal-body">
			<p>
				This will save "<span class="file-title"></span>" to your <i
					class="icon-provider-<%= providerId %>"></i>
				<b>Google Drive</b>
				account and keep it synchronized.
			</p>
			<div class="collapse form-horizontal sync-export-<%= providerId %>-options-collapse">
				<div class="form-group">
					<label class="col-lg-3 control-label"
						for="input-sync-export-<%= providerId %>-parentid">Folder <a href="#" class="tooltip-gdrivesync-folder">?</a></label>
					<div class="col-lg-8">
						<div class="input-group">
                        <div class="input-group-btn">
                            <a class="btn btn-link btn-sm action-export-<%= providerId %>-choose-folder"
                               title="Choose <%= providerName %> folder" data-dismiss="modal"><i class="icon-folder-open"></i></a>
                        </div>
                        <input type="text" id="input-sync-export-<%= providerId %>-parentid"
                            placeholder="FolderID" class="form-control">
					</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-3 control-label"
						for="input-sync-export-<%= providerId %>-fileid">Existing Story ID <a href="#" class="tooltip-gdrivesync-help">?</a></label>
					<div class="col-lg-8">
						<input type="text" id="input-sync-export-<%= providerId %>-fileid"
							placeholder="FileID" class="form-control"> 
					</div>
				</div>
			</div>
			<p class="align-right">
				<a href="#" data-toggle="collapse" data-target=".sync-export-<%= providerId %>-options-collapse" class="collapsed">
					Options <i class="icon-up-dir"></i>
				</a>
			</p>
			<blockquote class="alert alert-info hide hidden">
				<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
				<p><b>Tip:</b> You can move or rename the file afterwards in Google Drive.</p>
			</blockquote>
		</div>
		<div class="modal-footer">
			<a href="#" data-dismiss="modal" class="btn btn-primary action-sync-export-<%= providerId %>" style="margin-right: 30px;">Save</a> OR 
			<a href="#" class="btn btn-link action-autosync-dialog-<%= providerId %>" data-dismiss="modal"><i class="icon-provider-gdrive"></i> Setup AutoSync</a>

		</div>
	</div>
</div>
