<div class="modal-dialog">
	<div class="modal-content">

		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">&times;</button>
			<h2 class="modal-title">AutoSync to <%= providerName %></h2>
		</div>
		<div class="modal-body">
			<p>
				<b>AutoSync</b> automatically saves all stories to your <i class="icon-provider-<%= providerId %>"></i>
				<%= providerName %> account and keep them synchronized.
			</p>
			<div class="form-horizontal">
    			<div class="form-group">
    				<div class="col-lg-3 control-label"></div>
    				<div class="col-lg-8">
						<div class="radio">
							<label> <input type="radio" name="radio-autosync-<%= providerId %>-mode" value="off">Disabled
							</label>
						</div>
						<div class="radio">
							<label> <input type="radio"
								name="radio-autosync-<%= providerId %>-mode" value="new">
								New stories (not current)
							</label>
						</div>
						<div class="radio">
							<label> <input type="radio"
								name="radio-autosync-<%= providerId %>-mode" value="all">
								Every story not yet synchronized
							</label>
						</div>
    				</div>
    			</div>
			    <br/>
    			<div class="form-group">
    				<label class="col-lg-3 control-label"
    					for="input-autosync-<%= providerId %>-parentid">Folder <a href="#" class="tooltip-autosync-help">?</a></label>
    				<div class="col-lg-8">
    					<div class="input-group">
    						<div class="input-group-btn">
    							<a class="btn btn-link action-autosync-<%= providerId %>-choose-folder"
    								title="Choose <%= providerName %> folder" data-dismiss="modal"><i
    								class="icon-folder-open"></i></a>
    						</div>
    						<input type="text" id="input-autosync-<%= providerId %>-parentid" placeholder=" <%= providerName %> folder" class="form-control">
    					</div>
    				</div>
    			</div>
    		</div>
		</div>
		<div class="modal-footer">
			<a href="#" data-dismiss="modal" class="btn btn-primary action-autosync-<%= providerId %>">Autosync</a>
		</div>
	</div>
</div>
