<div class="modal-dialog">
	<div class="modal-content">

		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">&times;</button>
		</div>
		<div class="modal-body">
				<div class="row">
					<div class="col-md-5">
					<div class="pull-left" style="padding-right:5px;">
						<img src="writeon/img/google-drive.png" style="max-height:52px;">
					</div>
					<h2 class="modal-title"><%= providerName %></h2>
					<p>
						This will save <code><span class="file-title text-success"></span></code> to Google Drive and keep it synchronized.
					</p>
						
					</div>
			<div class="col-md-7 form-horizontal">
				<div class="form-group">
					<label class="col-lg-3 control-label"
						for="input-sync-export-<%= providerId %>-parentid">Folder <a href="#" class="tooltip-gdrivesync-folder">(?)</a></label>
					<div class="col-lg-8">
						<div class="input-group">
                        <div class="input-group-btn">
                            <a class="btn btn-link btn-sm action-export-<%= providerId %>-choose-folder"
                               title="Choose <%= providerName %> folder" data-dismiss="modal"><i class="icon-folder-open text-success"></i></a>
                        </div>
                        <input type="text" id="input-sync-export-<%= providerId %>-parentid"
                            placeholder="Google Folder ID" class="form-control">
					</div>
					</div>
				</div>
				<div class="form-group">
					<a href="#" class="btn btn-link btn-block text-center action-autosync-dialog-<%= providerId %>" data-dismiss="modal"><i class="icon-provider-gdrive"></i> Setup AutoSync</a>
				</div>
				<div class="form-group hide">
					<label class="col-lg-3 control-label"
						for="input-sync-export-<%= providerId %>-fileid">Existing Story ID <a href="#" class="tooltip-gdrivesync-help">(?)</a></label>
					<div class="col-lg-8">
						<input type="text" id="input-sync-export-<%= providerId %>-fileid"
							placeholder="Google Doc ID" class="form-control"> 
					</div>
				</div>
				<blockquote class="alert alert-info hide hidden">
					<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    	</button>
					<p><b>Tip:</b> You can move or rename the file afterwards in Google Drive.</p>
				</blockquote>
			</div>
		</div>
			</div>
		<div class="modal-footer">
			<a href="#" data-dismiss="modal" class="btn btn-primary action-sync-export-<%= providerId %>">Save</a>

		</div>
	</div>
</div>
