@import "../styles/solarized.less";

@A03: @base3;
@A02: @base2;
@A01: @base1;
@A00: @base0;
@A0: @base00;
@A1: @base01;
@A2: @base02;
@A3: @base03;

.navbar-default {
	background-image: linear-gradient(to bottom,#fff 0,rgba(255,255,255,.9)100%);
}
/* Gradient Dropdown bg */
ul.dropdown-menu {
	position: absolute !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(@base3));
	background: -webkit-linear-gradient(top, #fff, @base3);
	background: -moz-linear-gradient(top, #fff, @base3);
	background: -ms-linear-gradient(top, #fff, @base3);
	background: -o-linear-gradient(top, #fff, @base3);
	background: linear-gradient(top, #fff, @base3);
	background-color: #fff;	
}
