extends base

block vars
  - var title = 'Account Verification Complete'
  - var description = 'You have successfully verified your account!'
  - var bodytag = 'login'

block head
  meta(http-equiv='refresh' content="5; url=#{app.get('stormpathRedirectUrl')}")


block body
  div.navbar.navbar-default.navbar-fixed
    div.navbar-inner
      div.nav.pull-left.nav-left(style='width: 100px; margin-top: 0;')
        a.scrollToSlide1(href='/', title='Home')
          img(src='/writeon/img/logo.svg')

  .container.custom-container
    .va-wrapper
      .view.login-view.container
        .box.row
          .email-password-area.col-xs-12.large.col-sm-12
            .header
              span.
                Account Verification Complete!
              p.
                Your account has been verified, and you have been logged into
                your account.  You will be redirected back to the site in 5
                seconds.
