/*
    Document   : app/styles/writeon/_mainï¼Žscss
    Created on : 2014-12-11 04:32 PM
    Author     : yaboi
    Description: Styles for main.html
    Version    : 1.0.0
*/


.main {
    margin-top: (($navbar-height + 1) * -1);
    
    .jumbotron {
        @extend .jumbotron;
        /* background: center center no-repeat url("/images/main/hero_1.png"); */
		background-color: $color_asphalt;
        background-size: cover;
        text-align: center;
        text-shadow: 0 2px 5px rgba(0,0,0,0.5);
        
        h1 {
            text-transform: capitalize;
            
            @media (min-width: $screen-sm-min) { 
                font-size: 54px;
                margin-bottom: 22px;
                margin-top: 50px;
            }
            
            @media (min-width: $screen-md-min) {
                font-size: 72px;
                margin-top: 65px;
            }
        }
        
        .well {
            margin: 40px auto 10px;
            @include gradient-vertical(rgba(0,0,0,.4), rgba(0,0,0,.3), 0%, 100%);
            border-color: transparent;
            background-color: transparent;
            text-shadow: none;
            
            .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
                @include opacity(1);
            }
            
        } 
    }
}