<form name="MailchimpSubscriptionForm" role="form" ng-controller="MailchimpSubscriptionCtrl">
    <div class="well">
        <div ng-hide="mailchimp.result === 'success'">
            <input class="hidden" type="hidden" ng-model="mailchimp.username" ng-init="mailchimp.username='writeon'">
            <input class="hidden" type="hidden" ng-model="mailchimp.dc" ng-init="mailchimp.dc='us9'">
            <input class="hidden" type="hidden" ng-model="mailchimp.u" ng-init="mailchimp.u='1d10f79fce4bc733309cc414e'">
            <input class="hidden" type="hidden" ng-model="mailchimp.id" ng-init="mailchimp.id='394a92541e'">
            <div class="visible-xs-block">
                <div class="form-group">
                    <input type="email" name="email" ng-model="mailchimp.email" class="form-control" placeholder="email@example.com" required analytics-on analytics-event="Input" analytics-category="Mailchimp Signup" analytics-label="Email Address">
                </div>
                <button ng-click="addSubscription(mailchimp)" class="btn btn-primary btn-block" type="button" analytics-on analytics-event="Submit" analytics-category="Mailchimp Signup" analytics-label="Get Started">Get Started</button>
            </div>
            <div class="input-group input-group-lg hidden-xs">
                <span class="input-group-addon" id="basic-addon1">@</span>
                <input type="email" name="EMAIL" ng-model="mailchimp.email" class="form-control" placeholder="email@example.com" required analytics-on analytics-event="Input" analytics-category="Mailchimp Signup" analytics-label="Email Address">
                <span class="input-group-btn">
                    <button ng-click="addSubscription(mailchimp)" class="btn btn-primary" type="button" analytics-on analytics-event="Submit" analytics-category="Mailchimp Signup" analytics-label="Get Started">Get Started</button>
                </span>
            </div>
        </div>

        <!-- Show success message if MailChimp returned successfully. -->
        <div ng-show="mailchimp.result === 'success'" ng-cloak>
            <p><strong>W00t, you're signed up!</strong>  <span ng-bind-html="mailchimp.successMessage"></span>
            </p>
        </div>
    </div>

    <small>
        <em>Get started, write away... it's free.</em>
    </small>

    <!-- Show error message if MailChimp unsuccessfully added the email to the list. -->
    <div ng-show="mailchimp.result === 'error'" class="errorMessage" ng-cloak>
        <alert type="danger" close="closeAlert(mailchimp)" role="alert">
            <strong>Aw, shucks. There was a small issue:</strong>
            <br />
            <span ng-bind-html="mailchimp.errorMessage"></span>
        </alert>
    </div>
</form>