@import "../styles/main.less";

@primary: #808080;

/*******************
 * Working Indicator
 *******************/

.working-indicator {
        .bars {
            background: rgba(0, 0, 0, 0.75);
        }
        .bar {
            background-color: fade(#fff, 75%);
		}
}
