/*
    Document   : app/styles/writeon/_footer．scss
    Created on : 2014-12-11 06:30 PM
    Author     : yaboi
    Description: Bottom of the barrel styling for the <footer> section
    Version    : 1.0.0
*/

footer {
    padding: 15px 0 30px;
}